__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
*.pkl
*.joblib
*.log
.DS_Store
.vscode/
.idea/
*.sqlite3
*.db
data/raw/
data/processed/X_test.csv
data/processed/y_test.csv
model/
kafka/__pycache__/
venv/
.env.*
*.egg-info/
dist/
build/
docker-compose.override.yml
*.zip
*.tar.gz
.ipynb_checkpoints/
model-venv/
metrics/
kafka_producer/
kafka_consumer/
streaming/
.env